.App {
  font-family: 'Open Sans', sans-serif;
  min-width: 620px;
  text-align: center;
}

.Header {
  align-items: center;
  background: #222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
}

.Header-title {
  color: white;
  font-size: 24px;
  margin: 0;
}

.Header-text {
  color: white;
  font-size: 13px;
  margin: 0;
}

.AddForm {
  padding: 20px 30px;
}

.AddForm-input1 {
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  font-size: 14px;
  height: 30px;
  outline: none;
  padding: 5px 20px;
}

.AddForm-input2 {
  border: 1px solid #ccc;
  font-size: 14px;
  height: 30px;
  margin-left: -1px;
  outline: none;
  padding: 5px 20px;
}

.AddForm-submit {
  background: #ff4000;
  border: 1px solid #ff4000;
  border-radius: 0 20px 20px 0;
  color: #fff;
  font-size: 14px;
  height: 42px;
  margin-left: -1px;
  outline: none;
  padding: 5px 20px;
}
.AddForm-error {
  color: #ff4000;
  font-size: 12px;
  margin: 5px;
}

.Items {
  margin: 20px 30px;
  text-align: left;
}

.Item {
  margin: 20px 0;
  position: relative;
}

.Item-title {
  color: #555;
  font-size: 14px;
  margin: 0;
}
.Item-link {
  color: #1E90FF;
  font-size: 12px;
  line-height: 1.3;
  margin: 10px 70px 0 0;
  word-wrap: break-word;
}

.Item-remove {
  background: #bbb;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 11px;
  line-height: 20px;
  height: 20px;
  outline: none;
  padding: 0 10px;
  position: absolute;
  top: 0;
  right: 0;
}
