.App {
  font-family: 'Open Sans', sans-serif;
  min-width: 620px;
  text-align: center;
}

.Header {
  align-items: center;
  background: #222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
}

.Header-title {
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.Header-photo {
  border: none;
  height: 22px;
  margin: 0 10px -6px 0;
  width: 22px;
}

.Header-text {
  color: #a7a7a7;
  font-size: 13px;
  margin: 0;
}

.Header-link {
  border-bottom: 1px solid #a7a7a7;
  color: #a7a7a7;
  font-size: 13px;
  margin: 0 0 0 5px;
  text-decoration: none;
}
.Header-link:hover {
  color: #fff;
}

