.App {
  font-family: 'Open Sans', sans-serif;
  min-width: 620px;
  text-align: center;
}

.Auth-header {
  background: #222;
  padding: 60px 30px;
  text-align: center;
}

.Auth-headerIcon {
  margin: 0 20px;
  position: relative;
  top: 15px;
  width: 80px;
}

.Auth-headerTitle {
  color: white;
  font-size: 60px;
  font-weight: 300;
  margin: 0;
}

.Auth {
  padding: 20px 30px;
  text-align: center;
}

.Auth-title {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0;
}

.Auth-text {
  color: #888;
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
}

.Auth-button {
  background: #ff4000;
  border: 1px solid #ff4000;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  margin: 35px 0;
  padding: 3px 40px 10px;
  text-decoration: none;
}

.Auth-githubIcon {
  color: #fff;
  height: 20px;
  line-height: 20px;
  margin: 3px 7px 0 15px;
  position: relative;
  top: 3px;
}
